header {
  background-color: var(--clr-base);
  color: var(--clr-base);
  padding: 15px 0;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 50px;
}

nav a {
  color: black;
  text-transform: uppercase;
  /* background-color: red; */
  margin: auto;
  padding: 13px;
  font-size: 16px;
}
section{
    border:1px solid var(--clr-btn);
    padding: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 18px;
  justify-content: space-around;
}

.logo img {
  max-width: 200px;
}

.search {
  /* flex: 1; */
  margin: 0 20px;
  position: relative;
}

.search-input {
  /* width: 100%; */
  padding: 8px 30px 8px 10px;
  border: none;
  border-radius: 20px;
  background-color: rgba(238, 235, 235, 0.863);
  /* background-color: transparent; */
  color: var(--clr-btn);
}

.search-button {
  position: absolute;
  /* right: 5%; */
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--clr-btn);
  cursor: pointer;
}

.profile {
  margin-right: 20px;
  /* background-color: red; */
  border: var(--clr-btn);
}

.profile-button {
  width: 100%;
  padding: 8px 30px 8px 10px;
  border-radius: 20px;
  /* background: none; */
  border: none;
  color: var(--clr-btn);
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.profile-button i {
  margin-right: 10px;
}
#burger {
  display: none;
}
.navigation {
  height: 50px;
  background-color: gray;
  margin: 0 80px;
}

@media screen and (max-width: 950px) {
  .navigation {
    display: none;
    flex-direction: column;
    text-align: center;
  }
  #burger {
    display: flex;
    position: absolute;
    right: 0;
  }
  .navigation.active {
    display: flex;
  }
  header {
    flex-direction: row;
  }
  .active {
    display: flex;
    position: absolute;
    height: 60px;
    /* background-color: red; */
  }
  .search-input {
    display: none;
  }
  .icon {
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 5px;
  }
  .navigation {
    background: none;
  }
  nav {
    flex-direction: column;
    background-color: gray;
    position: relative;
  }
}

/* MAIN */
.hero {
  background-image: url(../img/hero2.jpg);
  width: 80%;
  min-height: 500px;
  background-position: center;
  padding-left: 50px;
  background-repeat: no-repeat;
  margin: 50px auto;
  padding: 50px;
  display: flex; /* Utilisation de Flexbox */
  flex-direction: column; /* Alignement vertical */
  justify-content: center; /* Centrer verticalement le contenu */
  align-items: center; /* Centrer horizontalement le contenu */
}
.hero h1 {
  text-transform: uppercase;
  color: var(--clr-base);
  /* text-align: center; */
  font-size: 30px;
  margin: 50px;
}
.bouton-dec {
  color: var(--clr-base);
  text-transform: uppercase;
  background-color: gray;
  padding: 20px;
  display: inline-block;

  /* border-radius: 10px; */
}
.container-principale{
    background-color: red;
    display: flex;
    margin: 80px;
}
/* .section-art{
    
} */

