*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-btn:black;
    --clr-base:white;


}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: var(--clr-base);
    color: var(--clr-base);
    padding: 15px 0;
  }