<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/img/index.img/new-logo.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/connex.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <script src="assets/js/main.js" defer></script>
    <script src="../assets/js/login.js" defer></script>
    <title>Connexion</title>
</head>
<body>
    <header class="header">
        <div class="container">
          <div class="search">
            <input type="text" class="search-input" placeholder="Rechercher..." />
            <button class="search-button">
              <i class="fa-solid fa-search icon"></i>
            </button>
          </div>
          <div class="logo">
            <a href="../index.html">
              <img src="../assets/img/index.img/new-logo.png" alt="Logo Letudiant" />
            </a>
          </div>
          <div class="profile">
            <button class="profile-button">
              <i class="fa-regular fa-user"></i>
              <span>Profil</span>
              <i class="fa-solid fa-bars" id="burger"></i>
            </button>
          </div>
        </div>
        <div class="navigation" id="nav">
          <nav>
            <a href="test.html">Test</a>
            <a href="chat.html">Chat</a>
            <a href="notif.html">Notifications</a>
            <a href="feed.html">Pour toi</a>
            <a href="./contact.html">Contactez-nous</a>
          </nav>
        </div>
      </header>
      <main>
        <div class="login">
            <h1>Vous possédez déjà un compte ?</h1>
            <h2>Connectez-Vous </h2>
            <section class="login2">
            <form id="form">
                <section class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" id="email" placeholder="Entrez votre email" required>
                </section>
                <section class="form-group">
                    <label for="password">Mot de passe *</label>
                    <input type="password" id="password" placeholder="Entrez votre mot de passe" required>
                </section>
                <input type="submit" value="Connectez-vous">
                <input type="reset" value="Effacer">
            </form>
          </section>
          <hr>
          <section class="login3">
          <h2>Vous n'avez pas de compte ?</h2>
          <button class="crea">Créer votre compte</button>
        </section>
        </div>
      </main>
      <footer>
        <div>
          <h3>Nos réseaux </h3>
          <a href=""><img src="./assets/img/connex.img/facebook.png" alt=""></a>
          <a href=""><img src="./assets/img/connex.img/insta.png" alt=""></a>
          <a href=""><img src="./assets/img/connex.img/twitter.png" alt=""></a>
        </div>
        <p>
          © Orientwa . Tous droits réservés.
        </p>
        </footer>
</body>
</html>