<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <script src="../assets/js/main.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>Contact</title>
</head>
<body>
    <header class="header">
        <div class="container">
          <div class="search">
            <input type="text" class="search-input" placeholder="Rechercher..." />
            <button class="search-button">
              <i class="fa-solid fa-search icon"></i>
            </button>
          </div>
          <div class="logo">
            <a href="../index.html">
              <img src="../assets/img/index.img/new-logo.png" alt="Logo Letudiant" />
            </a>
          </div>
          <div class="profile">
            <button class="profile-button">
              <i class="fa-regular fa-user"></i>
              <span>Profil</span>
              <i class="fa-solid fa-bars" id="burger"></i>
            </button>
          </div>
        </div>
        <div class="navigation" id="nav">
          <nav>
            <a href="">Test</a>
            <a href="">Chat</a>
            <a href="">Notifications</a>
            <a href="">Pour toi</a>
            <a href="">Contactez-nous</a>
          </nav>
        </div>
      </header>
</body>
</html>