<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/img/index.img/new-logo.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <script src="../assets/js/main.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>Contact</title>
</head>
<body>
    <header class="header">
        <div class="container">
          <div class="search">
            <input type="text" class="search-input" placeholder="Rechercher..." />
            <button class="search-button">
              <i class="fa-solid fa-search icon"></i>
            </button>
          </div>
          <div class="logo">
            <a href="../index.html">
              <img src="../assets/img/index.img/new-logo.png" alt="Logo Letudiant" />
            </a>
          </div>
          <div class="profile">
            <button class="profile-button">
              <i class="fa-regular fa-user"></i>
              <span>Profil</span>
              <i class="fa-solid fa-bars" id="burger"></i>
            </button>
          </div>
        </div>
        <div class="navigation" id="nav">
          <nav>
            <a href="">Test</a>
            <a href="">Chat</a>
            <a href="">Notifications</a>
            <a href="">Pour toi</a>
            <a href="">Contactez-nous</a>
          </nav>
        </div>
      </header>
      <main>
        <div class="contact">
          <h1>Contacts</h1>
          <h2>Tu as une question ? Poses là nous! </h2>
            <form action="" class="formulaire">
              <div >
                <label for="firstName">Nom *</label>
                <input type="text" id="firstName" required>
              </div>
              <div >
                <label for="lastName">Prénom *</label>
                <input type="text" id="lastName" required>
              </div>
              <div>
                <label for="email">Adresse mail *</label>
                <input type="email" id="email" required>
              </div>
              <div >
                <label for="question">Une question ?</label>
                <select id="question" required>
                    <option value="inscription">Comment s'inscrire ?</option>
                    <option value="help">Comment avoir un parrain/marraine ?</option>
                    <option value="fonctionement">Comment fonctionne Orientwa ?</option>
                    <option value="contact">Avoir un contact direct</option>
                    <option value="other">Autres question</option>
                </select>
              </div>
              <div >
                <label for="message-question">Ecris en complétement de ta question</label>
                <textarea id="message-question" ></textarea>
              </div>
              <div class="finalite">
                <input type="submit" value="Envoyer ma question">
                <input type="reset" name="Effacer" value="Effacer">
              </div>
            </form>
          </section>
          <h2>Nos réseaux</h2>
          <section></section>
          <section></section>
        </div>
      </main>
      <footer>
        <div>
          <h3>Nos réseaux </h3>
          <a href=""><img src="./assets/img/connex.img/facebook.png" alt=""></a>
          <a href=""><img src="./assets/img/connex.img/insta.png" alt=""></a>
          <a href=""><img src="./assets/img/connex.img/twitter.png" alt=""></a>
        </div>
        <p>
          © Orientwa . Tous droits réservés.
        </p>
        </footer>
</body>
</html>